<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Easy Audit company</title>
</head>
<body>
    <div class="page-wrapper">
        <div class="header">
            <div class="top-line">
                <div class="contacts">
                    <div class="phones">
                        <span class="icon icon-clipboard"></span>
                    </div>
                    <div class="worktime">

                    </div>
                    <div class="email">

                    </div>
                </div>
                <div class="social-icons">

                </div>
            </div>
        </div>
    </div>
</body>
</html>