@font-face {
    font-family: 'easyaudit';
    src: url('../fonts/easyaudit/easyaudit.eot');
    src: url('../fonts/easyaudit/easyaudit.eot') format('embedded-opentype'),
         url('../fonts/easyaudit/easyaudit.woff2') format('woff2'),
         url('../fonts/easyaudit/easyaudit.woff') format('woff'),
         url('../fonts/easyaudit/easyaudit.ttf') format('truetype'),
         url('../fonts/easyaudit/easyaudit.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }