@import url("~normalize.css/normalize.css");
@import "variables";

@import "easyaudit-font";
@import url("../css/easyaudit-codes.css");

.page-wrapper {

    .icon {
        font-family: easyaudit;
    }

    .header {

        .top-line {
            background-color: rgb(39, 39, 39);
            height: 50px;

            .icon {
                color: white;
            }
        }
    }
}